section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 80vw;
    background-image: url("../img/BG2.png");
    background-position: 5%;
   
}



